version: '3.8'

services:
  # --- СЕРВІС ФРОНТЕНДУ ---
  frontend:
    build:
      context: ./frontend
      target: dev
    container_name: task-manager-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./frontend/.env.docker
    environment:
      - VITE_API_URL=http://backend:5000
    depends_on:
      - backend

  # --- СЕРВІС БЕКЕНДУ ---
  backend:
    build: 
      context: ./backend
    container_name: task-manager-backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env